<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="<%= desc %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <meta name="twitter:card" content ="summary_large_image">
  <meta name="twitter:title" content="Aruan2D : : <%= title %>">
  <meta name="twitter:description" content="<%= desc %>">
  <meta name="twitter:image"content="https://aruan.dev/images/socialpreview.jpg">
  <meta property="og:title" content="Aruan2D : : <%= title %>">
  <meta property="og:image" content="https://aruan.dev/images/social.jpg">
  <meta property="og:image:width" content="720">
  <meta property="og:image:height" content="378">
  <meta property="og:description" content="<%= desc %>">




  <title>Aruan2D : : <%= title %></title>

  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">  
  <link rel="stylesheet" href="/stylesheets/material.min.css">
  <link rel="stylesheet" href="/stylesheets/default.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=pt">

  
</head>

<body>
  <!-- HEADER -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">    
    <header class="mdl-layout__header  site-header">      
      <div class="mdl-layout__header-row">
        
        
        <a class="page-title" href="/"><span class="mdl-layout__title"><img src="/images/letter2.png" class="logo">Aruan Dev&Design</span></a>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font header-links">
          <a class="mdl-navigation__link" href="/blog">Blog</a>
          <a class="mdl-navigation__link" href="/dev">Dev</a>
          <a class="mdl-navigation__link" href="/design">Design</a>          
          <a class="mdl-navigation__link" href="/about">Sobre</a>
        </nav>
        <button class="mdl-button mdl-js-button mdl-button--icon"
        id="search-button">
          <i class="material-icons">search</i>
        </button>
      </div>
      <div class="header-links-row mdl-layout__header-row">        
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">          
          <a class="mdl-navigation__link" href="/blog">Blog</a>
          <a class="mdl-navigation__link" href="/dev">Dev</a>
          <a class="mdl-navigation__link" href="/design">Design</a>          
          <a class="mdl-navigation__link" href="/about">Sobre</a>
        </nav>
      </div>
    </header>

    <div class="mdl-layout__drawer">
      <span class="mdl-layout__title">Aruan2D</span>
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/blog">Blog</a>
        <a class="mdl-navigation__link" href="/dev">Dev</a>
        <a class="mdl-navigation__link" href="/design">Design</a>        
        <a class="mdl-navigation__link" href="/about">Sobre</a>
      </nav>
    </div>
    <!-- END HEADER -->

    <main class="mdl-layout__content">
      <div class="mdl-grid content-max-width">