<%- include('includes/header') -%>
<%- include('includes/navigation') -%>

<div class="dash-cell mdl-cell mdl-cell--12-col mdl-shadow--2dp">
    <h1><i class="material-icons material-large-icon">school</i> Ensino</h1>
    <br>
    <h3>Em construção...</h3>
</div>

<%- include('includes/endmain') -%>
<%- include('includes/footer') -%>
<%- include('includes/editor') -%>